.card
{
    position: relative;

    margin-bottom: 10px;
    box-shadow:0 0;

    //@include shadow();

    h3
    {
        font-size: 1rem;
    }
    .media-left
    {
        font-size:.8rem;
        display:none;
    }
    &.card-container
    {
        background: transparent;
        box-shadow: none;
    }
    &.card-flex
    {
        display: flex;
        .card-block
        {
            width: 100%;
        }
    }
    .card-header
    {
        padding: .5rem;

        border-bottom: 1px solid rgba(0, 0, 0, .05);
        background-color: #fafafa;
    }
    .card-title
    {
        margin: 0;

        color: darken($gray-light, 15%);
        small
        {
            color: $gray-light;
        }
    }
}
.card-block
{
    padding: 5px 10px;
}