#footer 
{
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
	padding:0 10px 5px;
	background:transparent;
	margin-left:320px;
}
#footer ul.meta 
{
 margin-top:0;

}
#footer .custom-select 
{
	height:31px;
}
