<div class="TopBar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="/admin" class="logo variant-logo">
                    {{ img('theme::img/icon.svg').data|raw }}
                </a>
            </div>
            <div class="col-sm-10 d-flex align-items-center justify-content-end">
                <form class="TopBarSearch navbar-form dropdown" id="search">
                    <input type="text" class="form-control search-bar" placeholder="Type to search...">
                    {# <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button> #}
                    <div class="dropdown dropdown-menu results">
                        <h6 class="dropdown-header">Navigation</h6>
                        {% for key, navigation in template.cp.navigation %}
                            <a class="dropdown-item" {{ html_attributes(navigation.attributes) }}>
                                <span class="title">{{ trans(navigation.title) }}</span>
                            </a>
                        {% endfor %}
                        <h6 class="dropdown-header">Links</h6>
                        <a href="/" target="_blank" class="dropdown-item">
                            {{ trans('theme::control_panel.view_site') }}
                        </a>
                        <a href="/admin/logout" class="dropdown-item">
                            {{ trans('theme::control_panel.logout') }}
                        </a>
                    </div>
                </form>
                <div class="TopBar__Actions d-flex align-items-center justify-content-end">
                <a href="/" target="_blank" class="btn btn-info">
                    {{ trans('theme::control_panel.view_site') }}
                </a>
                <a href="/admin/logout" class="btn btn-danger d-flex TopBarSearch__Logout">
                    <i class="fa fa-power-off"></i>
                    {{ trans('theme::control_panel.logout') }}
                </a>
            </div>
            </div>
            
        </div>
    </div>
</div>
{# <div class="TopBar">
    <div class="col-sm-5">
        <a href="/admin" class="logo variant-logo">
            {{ img('theme::img/icon.svg').data|raw }}
            
        </a>
    </div>
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <form class="navbar-form dropdown" id="search">
                    <input type="text" class="form-control search-bar" placeholder="Type to search...">
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                    <div class="dropdown-menu results">
                        <h6 class="dropdown-header">Navigation</h6>
                        {% for key, navigation in template.cp.navigation %}
                            <a class="dropdown-item" {{ html_attributes(navigation.attributes) }}>
                                <span class="title">{{ trans(navigation.title) }}</span>
                            </a>
                        {% endfor %}
                        <h6 class="dropdown-header">Links</h6>
                        <a href="/" target="_blank" class="dropdown-item">
                            {{ trans('theme::control_panel.view_site') }}
                        </a>
                        <a href="/admin/logout" class="dropdown-item">
                            {{ trans('theme::control_panel.logout') }}
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <a href="/" target="_blank" class="dropdown-item">
                    {{ trans('theme::control_panel.view_site') }}
                </a>
            </div>
            <div class="col-sm-2">
                <a href="/admin/logout">
                    <i class="fa fa-power-off"></i>
                    {{ trans('theme::control_panel.logout') }}
                </a>
            </div>
        </div>
    </div>
</div> #}