{{ asset_add('scripts.js', 'pixney.theme.fiske::js/navigation/jquery-sortable.js') }}
{{ asset_add('scripts.js', 'pixney.theme.fiske::js/navigation/preferences.js') }}

<p>
    {{ icon('fa fa-arrows') }}
    {{ trans('pixney.theme.fiske::preference.navigation.reorder')|raw }}
</p>
