@import "bootstrap/bootstrap";

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import "fonts/Fonts";

@mixin Trans($speed: 300ms)
{
    transition: all $speed ease-in-out;
}

*,html,body
{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:15px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0, 0, 0, .05) 0 0 1px;

}
html,body 
{
	background:#f3f3f3;
}

strong,b 
{
	font-weight:600;
}

.FiskeBoxShadow
{
	//box-shadow: 0px 1px 10px 0px rgba(100, 100, 100, 0.2);
	//border:1px solid #ccc;
}
.FiskeHeaders
{
	border: 0;
    background: #737478;
    color:#fff;
    padding:6px 10px 7px;
    font-weight:600;
    border-radius:0;
    h5 
    {
    	font-size:15px;
    	margin:0;
    }
}
.hidden 
{
    display:none;
}


@import "fiske/bootstrap/_cards";
@import "fiske/bootstrap/_navbar";
@import "fiske/bootstrap/_nav";
@import "fiske/bootstrap/_forms";
@import "fiske/bootstrap/_buttons";
@import "fiske/bootstrap/_tables";
@import "fiske/bootstrap/_alerts";
@import "fiske/bootstrap/_dropdowns";
@import "fiske/views/_login";
@import "fiske/views/partials/_topBar";
@import "fiske/views/partials/_topBarSearch";
@import "fiske/views/partials/_breadCrumbs";
@import "fiske/views/partials/_sidebars";
@import "fiske/views/partials/_main";
@import "fiske/views/partials/_tree";
@import "fiske/views/partials/_controls";
@import "fiske/views/partials/_dashboards";


