.TopBar
{
    position: fixed;
    top: 0;

    width: 100%;
    height: 50px;
    display:flex;
    background:#fff;
    z-index:100;
}

.TopBar .logo 
{
	display:block;
	height:50px;
	overflow:hidden;
}
.TopBar .logo svg
{
    width: 15px;
    height: 50px;
}

.TopBar__Actions
{
    a 
    {
        flex:1;
        margin-left:5px;
            padding: 9px 16px 10px;
            max-width: 100px;
        &:first-child
        {
            margin-left:0;
        }
    }
    
    .TopBarSearch__Logout
    {
        display:flex;
        justify-content:center;
        align-items:center;
        i 
        {
            margin-right:5px;
        }
    }

}