@import "overrides/breadcrumb";
@import "overrides/menu";
@import "overrides/sidebar";
@import "overrides/main";
@import "overrides/topbar";
@import "overrides/buttons";
@import "overrides/cards";
@import "overrides/forms";
@import "overrides/tables";
@import "overrides/footer";
@import "overrides/search";
@import "overrides/navbar";
@import "overrides/tree";
@import "overrides/modals";
@import "overrides/bootstrap_switch";

@import "overrides/colors";


.bootstrap-switch .bootstrap-switch-label
{
    padding: 0;
}



html 
{
    font-size:15px;
}


label
{
    margin-bottom: 0;
}

label + p.text-muted
{
    margin-bottom: .5rem;
}


form .card-block,
.form-control
{
    font-size: .95rem;
}


.btn
{
    font-size: .95rem;
    line-height: 1;

    padding: .3rem .7rem .4rem;
}

#buttons,
.card.card-container
{
    margin-bottom: 1rem;
}


.nav.nav-sections + .card-block
{
    padding-top: 0;
}

.nav.nav-sections li a
{
    font-size: .9rem;

    padding: .5rem 1rem;
}
#footer
{
   
    ul li
    {
        color: #333;
    }
}

.controls
{
    position: fixed;
    top: 50px;
    z-index: 3;
    right: 0px;
    margin: 0;
    height: 36px;
    background:#717580;
    overflow:hidden;
    .card-block,
    .card-block .actions,
    .card-block .buttons
    {
        display:flex;
    }
    .btn 
    {
            padding: 11px 10px;
            //background:#5a5d66;
            border:0px;
            font-size:14px;
            color:#fff !important;
            margin-left:0px;
            border-radius:0;
            -webkit-transition: all 250ms ease-in;
                   -moz-transition: all 250ms ease-in;
                    -ms-transition: all 250ms ease-in;
                     -o-transition: all 250ms ease-in;
                        transition: all 250ms ease-in;


            &:hover 
            {
                background:#4f5159;
            }
            
    }
    .btn.btn-success[value="save_exit"]
    {
        //background:#40c35c;
        &:hover 
            {
                background:#4f5159;
            }
    }
    .btn.btn-success[value="update"],
    .btn.btn-success[value="save"]
    {
         background:#40c35c;
        &:hover 
            {
                background:#4f5159;
            }
    }
    .btn.btn-default 
    {
       // background:#af1f15;
       color:#717580 !important;
        &:hover 
            {
                background:#4f5159;
            }
    }
    .btn.btn-info 
    {
        //background:#1573af;
        &:hover 
            {
                background:#4f5159;
            }
    }
}


