<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body class="variant-{{ random(8) }}{{ locale().isRtl() ? ' rtl' }}" data-variants="8">

{#{% include "theme::partials/push" %}#}
{#{% include "theme::partials/brand" %}#}
{#{% include "theme::partials/navbar" %}#}
{#{% include "theme::partials/header" %}#}

<section id="app">

    {% include "theme::partials/topbar" %}
    <div class="BreadCrumbs">
        {{ breadcrumb() }}
    </div>
    {% include "theme::partials/sidebar" %}
    {% include "theme::partials/menu" %}

    <main id="main" class="Main">

        <div class="container-fluid Main__Actions">
            {% include "theme::partials/messages" %}
            {% include "theme::partials/buttons" %}
        </div>

        {% block content %}{% endblock %}

    </main>
    {% include "theme::partials/footer" %}
</section>


{% include "theme::partials/modals" %}
{% include "theme::partials/assets" %}

</body>
</html>
