<!doctype html>

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="login">

{% block content %}{% endblock %}



<div class="LoginFooter">
	<a href="https://pyrocms.com">PyroCMS</a> | <a href="https://pixney.com">Pixney</a>
</div>
{% include "theme::partials/assets" %}
</body>
</html>
