////////////////////////////////////////////////////////////////////////////////
// Set the colors
////////////////////////////////////////////////////////////////////////////////
#sidebar
{
    background: #666973;
    & > ul > li.active
    {
        background: #5a5d65;
    }
    & > ul > li.active a,
    & > ul > li > a:hover
    {
        background: #717580;
    }
}


#menu
{
    background: #717580;
    & > ul > li.active > a,
    & > ul > li.highlighted > a,
    & > ul > li > a:hover
    {
        color: #666973;
        background: #f3f3f3;
    }

}
//
body,
html
{
    background: #f3f3f3;
}

.breadcrumb
{
    background: #5a5d65;
}

#topbar
{
    background: #fff;
    box-shadow: 0 0;
}
.table td 
{
	border-bottom: 1px solid #f3f3f3;
}
.table thead th, 
.table thead th a,
.nav.nav-sections 
{
	background:#717580;

}



.form .card .card-header 
{
    background:#4f5259;
}