.form
{
        box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.1);
        padding-bottom:0px !important;
    .card .field-group:nth-child(even)
    {
        background: #f5f5f5;
    }
    .card .field-group:nth-child(odd)
    {
        background: #fff;
    }
    .card-block
    {
        padding: 0;
    }
    .card .card-header
    {
        padding: 8px 10px 9px;

        color: #fff;
        background: #2b2b2b;
    }
    .card .card-title
    {


        text-transform:none;
    letter-spacing:0;
    font-size:15px;
    color:#fff;
    }
    .field-group
    {
        margin-bottom: 0;
        padding: 11px 10px 15px;

        border-bottom: 0px solid #e2e2e2;
        
        &:last-child
        {
            margin-bottom: 0;
            padding-bottom: 15px;

            border-bottom: none;
        }
        &.entry_content
        {
            padding: 20px;
        }
    }
    .form-group
    {
        margin-bottom: 0;
        &.has-info
        {
            .c-checkbox,
            .c-radio
            {
                color: $brand-info;
            }
        }
        &.has-danger
        {
            .c-checkbox,
            .c-radio
            {
                color: $brand-danger;
            }
        }
        &.has-success
        {
            .c-checkbox,
            .c-radio
            {
                color: $brand-success;
            }
        }
        &.has-warning
        {
            .c-checkbox,
            .c-radio
            {
                color: $brand-warning;
            }
        }
    }
    .controls
    {
        .actions
        {
            display: inline-block;
        }
        .buttons
        {
            float: right;
        }
        &.affix
        {
            position: fixed;
            z-index: $zindex-modal - 100;
            bottom: 0;

            margin-bottom: 0;

            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            &:before
            {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;

                height: 1px;

                content: '';

                box-shadow: 0 -1px 3px rgba(0, 0, 0, .25);
            }
            &:after
            {
                position: absolute;
                top: 1px;
                right: 0;
                left: 0;

                height: 1px;

                content: '';

                background: #fff;
            }
        }
    }
    label
    {
        &.control-label
        {
            font-size: 14px;
            font-weight: 600;
        }
        .required
        {
            color: $brand-danger;
        }
        & + p.text-muted
        {
            font-size: 14px;

        }
    }
}

.form-control
{
    @include border-radius($border-radius);
}

select.form-control
{
    &:not([size]):not([multiple])
    {
        $select-border-width: ($border-width * 2);

        height: calc(#{$input-height} - #{$select-border-width});
    }
    &:focus::-ms-value
    {
        // Suppress the nested default white text on blue background highlight given to
        // the selected option text when the (still closed) <select> receives focus
        // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
        // match the appearance of the native widget.
        // See https://github.com/twbs/bootstrap/issues/19398.
        color: $input-color;
        background-color: $input-bg;
    }
}

//@include media-breakpoint-down(sm) {
//    .form {
//        .controls {
//            &:first-of-type {
//                display: none;
//            }
//        }
//    }
//}
//
//@include media-breakpoint-down(md) {
//    .form {
//        .controls {
//            &.affix {
//                top: unset;
//                left: unset;
//                right: unset;
//                position: relative;
//                border-radius: unset;
//                z-index: unset;
//
//                + div {
//                    margin-top: unset;
//                }
//            }
//        }
//    }
//}

@include media-breakpoint-down(sm)
{
    .form
    {
        .controls
        {
            .actions,
            .buttons
            {
                display: block;
                float: none;
            }
            .btn,
            .btn-group
            {
                display: block;

                width: 100%;
                margin-top: $spacer-y/2;
            }
        }
    }
}
