.navbar
{
    padding: 0 10px;
}

.nav.nav-sections
{
    background: #2b2b2b;
    margin:0;
    li a
    {
        color: #fff;
    }
}

.nav-pills .nav-link {
    display: block;
    padding: 10px 15px;
    border-radius: 0.17rem;
    -webkit-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}